<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsBuy"
        tools:targetApi="31">

        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentFailureActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditAdActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".AdDetailActivity"
            android:exported="false" />
        <activity
            android:name=".WalletActivity"
            android:exported="false" />
        <activity
            android:name=".MyShoppingsActivity"
            android:exported="false" />
        <activity
            android:name=".PublishAdActivity"
            android:exported="false" />
        <activity
            android:name=".MyAdvertisementsActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.LetsBuy" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RedefinePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".MyShoppingsTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
